{% extends "base.html" %}
{% load haystackuitags %}

    {% block body %}
    
    <form method="get" action=".">
        <div class="row well">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </table>
        </div>


        <div class="row">
            <div class="col-2" >
                {% render_facets %}
            </div>
            <div class="col-10">

                <h3>Results</h3>

                {% render_active_facet_tags %}                

                <hr/>

                {% for result in page.object_list %}
                    {% render_result %}
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

                {% pagination %}
            
            </div>
        </div>
    </form>
    {% endblock %}